00 22 * * 1-4 eval $(cat .env .pgenv .folioenv) ./ldlite-threeone/scripts/daily_loads
00 0 * * 6 eval $(cat .env .pgenv .folioenv) ./ldlite-threeone/scripts/friday_loads
00 5 * * 1 eval $(cat .env .pgenv .folioenv) ./ldlite-threeone/scripts/daily_loads
